<style>
    .fullscreen-section {
  position: relative;
  height: 100vh; /* La sección ocupa la altura total de la pantalla */
}

.fullscreen-section img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* La imagen se ajusta para cubrir todo el contenedor */
}

.fullscreen-section .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
}

.fullscreen-section h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.fullscreen-section p {
  font-size: 1.5rem;
}
.button {
  background-color: #5c3c7bab; 
      border-radius: 2rem;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
}
</style>

<section class="fullscreen-section">
    <picture>
      <source media="(orientation: portrait), (max-width: 767px)" srcset="../../assets/J&M.jpg">
      <img src="../../assets/J&MHorizontal.png" alt="Imagen">
    </picture>
    <div class="content" style="padding-top: 20%">
      <!--<h1>Texto de la sección</h1>
      <p>Contenido de la sección</p>-->
      <a class="button" href="https://api.whatsapp.com/send?phone=50246921392&text=Familia%20Rodr%C3%ADguez%20confirmados!%20%F0%9F%91%8C">RSVP</a>
      <br>
      <br>
      <a class="button" href="https://www.cemaco.com/list/rodriguezhernandez">Listado de Regalos</a>
    </div>
  </section>

  <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=jardin el cerro&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://capcuttemplate.org/">Capcut Templates</a></div><style>.mapouter{position:relative;text-align:right;width:600px;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:600px;height:400px;}.gmap_iframe {width:600px!important;height:400px!important;}</style></div>